# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/jobkjepq/loko.jobkler.com"
PassengerBaseURI "/"
PassengerPython "/home/jobkjepq/virtualenv/loko.jobkler.com/3.12/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END
# Sirve archivos estáticos desde el STATIC_ROOT
Alias /static/ /home/jobkjepq/loko.jobkler.com/staticfiles/
<Directory /home/jobkjepq/loko.jobkler.com/staticfiles>
    Require all granted
</Directory>
